.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #f1f1f1;
  height: 80vh;
}

.heading {
  text-align: center;
 margin-bottom: 20px; 
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  text-decoration: overline;
  margin-top: 80px;
}


.aboutWrap {
  width: 60%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  line-height: 2;
  text-align: justify;
}

.aboutWrap p {
  color: #2d2d2d;
  font-size: 18px;
}

@media screen and (max-width: 960px) {
  .about {
    height: auto;
  }

  .aboutWrap {
    width: 80%;
    padding: 10px;
  }

  .heading {
    font-size: 20px;
    margin-top: 50px; 
  }

  .aboutWrap p {
    font-size: 16px;
  }
}

