.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  background-color: white;
}

.heading {
  color: #333;
  text-transform: uppercase;
  text-decoration: overline;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contactWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 450px;
  background-color: #f0ecf1;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  text-decoration: underline;
}

.contactSection {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.iconContainer > div {
  margin: 0 10px;
}

.contactIcons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 20px;
}

.phoneIcon,
.envelopeIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  gap: 30px;
}

.contactIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2rem;
  gap: 30px;
  margin-top: 20px;
}

.whatsappIcon {
  color: #25d366;
  text-decoration: none;
}

.whatsappIcon:hover {
  color: #5ffc7b;
}

.viberIcon {
  color: #7360f2;
  text-decoration: none;
}

.viberIcon:hover {
  color: #e2d4e7;
}

.phoneIcon {
  color: grey;
}

.phoneIcon p {
  font-size: 1.5rem;
  color: #2d2d2d;
}

.emailLink {
  display: flex;
  align-items: center;
}

.envelopeIcon a {
  text-decoration: none;
  color: rgb(98, 131, 173);
}

.envelopeIcon a:hover {
  color: rgb(0, 110, 253);
}

.envelopeIcon p {
  font-size: 1.5rem;
  color: #2d2d2d;
}

.emailContainer p {
  font-size: 1.5rem;
  color: #2d2d2d;
}

.emailLink i {
  margin-right: 5px;
}

.contactIcons {
  display: flex;
  justify-content: center;
}

.contactIcons a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mapSection {
  width: 600px;
  height: 450px;
}

.gmapFrame {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.gmapFrame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 960px) {
  .contact {
    padding: 20px;
  }

  .contactWrap {
    width: 100%;
    height: auto;
  }

  .contactSection {
    display: flex;
    flex-direction: column;
  }
  .contactWrap {
    width: 430px;
  }

  .title {
    display: none;
  }

  .phoneIcon,
  .envelopeIcon {
    gap: 15px;
  }

  .contactIcon {
    gap: 20px;
    margin-bottom: 15px;
  }

  .mapSection {
    width: 100%;
    height: 250px;
  }

  .content {
    flex-direction: column;
  }
}
