.cards {
  padding: 4rem;
  background: #fff;
}

h1 {
  text-align: center;
}

.cardsContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cardsWrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cardsItems {
  margin-bottom: 24px;
}

@media only screen and (min-width: 1024px) {
  .cardsItems {
    display: flex;
  }
}
