.heroContainer {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(120, 0, 0, 0.2);
}

.heroImage {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
